<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>On the Run - About</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/full-slider.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <div class="container">
        <a class="navbar-brand"><font color="white">On the Run </font></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="about">About
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="criminal">Criminals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="state">States</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="crime">Crimes</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<h1>The Slackers - <a href="http://www.ontherun.me" rel="nofollow">www.ontherun.me</a></h1>
<hr>
<h2>Group Members:</h2>
<ol>
<li>Krishna Ramdeep</li>
<li>Ramon Perez</li>
<li>Zara Louis</li>
<li>Roshan Dongre</li>
<li>Ricardo Riveron <img src="https://camo.githubusercontent.com/1de6c5516fd076a6e757b3e40b7c1623125a1aa3/68747470733a2f2f6c617269757331312e6769746875622e696f2f63733337332d626c6f672f6173736574732f6865616473686f742e6a7067" style="width:150px; display: flex;">
<br>
<strong>Bio:</strong>
4th year CS student currently working full-time at H-E-B and taking Concurrency, Debugging &amp; Verifying Programs, and Software Engineering. I love to play music, watch netflix, and play videogames when I'm not too busy doing schoolwork or at work.
<strong>Major Responsibilities:</strong>
<ul>
<li>Set up flask</li>
<li>Set up project board</li>
<li>Set up Git book for API documentation</li>
<li>Add and organize issues in the repo</li>
</ul>
</li>
{{firstuser}}
for each member
no. of commits
no. of issues
no. of unit tests
stats
total no. of commits
total no. of issues
total no. of unit tests
</ol>
<p>data
links to the data sources
description of how each was scraped
tools
tools used
describe their use
special focus on optional tools that were not required</p>
<ul>
<li><a href="https://larius11.gitbooks.io/our-restful-api/content/" rel="nofollow">API</a> Documentation</li>
<li><a href="https://larius11.gitbooks.io/our-restful-api/content/" rel="nofollow">Technical Report</a></li>
<li><a href="https://github.com/roshan-dongre/idb">GitHub repository</a></li>
</ul>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
