<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Item - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/portfolio-item.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand"><font color="white">On The Run</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about">About
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/criminal">Criminals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/state">States</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/crime">Crimes</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container"> <font color="black">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">Joseph Mahmoud Dibee</h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid" style="width:500px; height:500px" src="https://www.fbi.gov/wanted/dt/joseph-mahmoud-dibee/dibee_jm2.jpg/@@images/image/large" alt="">

          <h2 class="my-4">Location of Indictment</h2>
          <div id="map" style="height:500px; width: 100%"></div>
          <script>
            function initMap() {
              var uluru = {lat: 44.039, lng: -123.135};
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 5,
                center: uluru
              });
              var marker = new google.maps.Marker({
                position: uluru,
                map: map
              });
            }
          </script>
          <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkRhH7iB4iZW9dDa-FY7HYb8vpjj19Vsc&callback=initMap">
          </script>
        </div>

        <div class="col-md-4">
          <h3 class="my-3">Date of Birth</h3>
          <p>November 10, 1967</p>
          <h3 class="my-3">Place of Birth</h3>
          <p>Seattle, Washington</p>
          <h3 class="my-3">Crimes</h3>
          <p>Conspiracy to Commit Arson of United States Government Property and of Property Used in Interstate Commerce; Conspiracy to Commit Arson and Desctruction of an Energy Facility; Arson of a Building</p>
          <h3 class="my-3">Details</h3>
          <p>On January 19, 2006, a federal grand jury in Eugene, Oregon, indicted Joseph Mahmoud Dibee on multiple charges related to his alleged role in a domestic terrorism cell. Dibee was charged with two conspiracy violations related to seventeen incidents and one count of arson. These crimes occurred in Oregon, Washington, California, Colorado, and Wyoming, and date back to 1996. Many of the crimes he is accused of participating in were claimed to be committed by the Earth Liberation Front (ELF) or the Animal Liberation Front (ALF). Dibee may have fled to Syria.</p>
          <h3 class="my-3">News</h3>
          <ul>
            <li><a href="https://www.fbi.gov/news/stories/operation-backfire-ten-years-later-two-fugitives-remain">Operation Backfire: Ten Years Later, Two Fugitives Remain</a></li>
            <li><a href="https://www.cnn.com/2015/04/18/us/domestic-terrorists/index.html">Today's most-wanted domestic terrorists</a></li>
            <li><a href="http://www.nytimes.com/2009/08/19/us/19license.html">Fugitive Still Licensed to Fly by the F.A.A.</a></li>
          </ul>
          <h3 class="my-3">Additional Links</h3>
          <ul>
            <li><a href="state1">Oregon</a></li>
            <li><a href="crime1">Arson</a></li>
          </ul>
        </div>
      </div>

    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
