<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hilal Hasan Ali Jaafar</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/portfolio-item.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand"><font color="white">On The Run</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about">About
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/criminal">Criminals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/state">States</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/crime">Crimes</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container"><font color="black">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">Hilal Hasan Ali Jaafar</h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid" style="width:500px; height:500px" src="https://www.fbi.gov/wanted/parental-kidnappings/hilal-hasan-ali-jaafar/@@images/image/preview" alt="">

          <h2 class="my-4">Location of Indictment</h2>
          <div id="map" style="height:500px; width: 100%"></div>
          <script>
            function initMap() {
              var uluru = {lat: 41.482, lng: -81.644};
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 5,
                center: uluru
              });
              var marker = new google.maps.Marker({
                position: uluru,
                map: map
              });
            }
          </script>
          <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkRhH7iB4iZW9dDa-FY7HYb8vpjj19Vsc&callback=initMap">
          </script>
        </div>

        <div class="col-md-4">
          <h3 class="my-3">Date of Birth</h3>
          <p>September 2, 1967</p>
          <h3 class="my-3">Place of Birth</h3>
          <p>Kuwait</p>
          <h3 class="my-3">Crimes</h3>
          <p>International Parental Kidnapping</p>
          <h3 class="my-3">Details</h3>
          <p>Hilal Hasan Ali Jaafar is wanted for international parental kidnapping. Jaafar allegedly abducted his son, Mohamed Ali Helal Jaafar, on January 20, 2006, while they were overseas in Oman. When Mohamed's mother was ready to return from Oman, to her home in Toledo, Ohio, her husband Jaafar would not release Mohamed to her. Both father and son are believed to be in Muscat, Oman in Al-Khouair. On September 19, 2006, Jaafar's wife was granted an absolute divorce from him, and she was named sole residential parent and legal custodian of Mohamed.
          On August 11, 2008, Hilal Hasan Ali Jaafar was charged with willfully retaining a child under the age of 16, who has been in the United States, outside of the United States, with the intent to obstruct the lawful exercise of the parental rights of physical custody of the child. Additionally, a federal arrest warrant was issued by the United States District Court, Northern District of Ohio, Western Division.
          </p>
          <h3 class="my-3">News</h3>
          <ul>
            <li><a href="http://www.toledoblade.com/Police-Fire/2013/06/19/Tot-s-case-focuses-on-other-lost-children.html">Tot's case focuses on other lost children</a></li>
            <li><a href="http://www.dailymail.co.uk/news/article-2184478/Pictured-The-FBIs-Most-Wanted-parents-accused-kidnapping-children-going-run.html">Pictured: The FBI's Most Wanted PARENTS accused of kidnapping their own children and going on the run</a></li>
            <li><a href="https://wikileaks.org/plusd/cables/06MUSCAT471_a.html">Public Library of US Diplomacy</a></li>
          </ul>
          <h3 class="my-3">Additional Links</h3>
          <ul>
            <li><a href="/ohio">Ohio</a></li>
            <li><a href="/kidnapping">Kidnapping</a></li>
          </ul>
        </div>
      </div>

    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
