<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Crime</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/full-slider.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand"><font color="white">On the Run </font></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="about">About
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/state">States</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/criminal">Criminals</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <section class="py-5">
      <div class="container">

        <h1 class="my-4 text-center text-lg-center">Types of Crimes</h1>

        <div class="row text-center text-lg-left">

          <div class="col-lg col-md-4 col-xs-6">
            <img class="img-fluid img-thumbnail img-responsive" style = "height: 250px; width:400px" src="https://orig00.deviantart.net/30d1/f/2009/152/4/d/fire__black_and_white_by_colleen721.jpg" alt="">
            <a class="d-block" href = "/arson" style="text-align: center;">
              <figcaption> <h2> Arson </h2></figcaption>
            </a>
            <a class="d-inline" style="text-align: center;">
              <figcaption> <i>The criminal act of deliberately setting fire to property </i></figcaption>
            </a>
            <a class="d-inline" href = "/washington" style="text-align: center;">
              <figcaption>Washington</figcaption>
            </a>
            <a class="d-inline" href = "/joseph" style="text-align: center;">
              <figcaption>Joseph Mahmoud Dibee</figcaption>
            </a>
            <a class="d-inline" href = "https://en.wikipedia.org/wiki/Arson" style="text-align: center;">
              <figcaption>Arson Wiki</figcaption>
            </a>
          </div>
          <div class="col-lg col-md-4 col-xs-6">
            <img class="img-fluid img-thumbnail img-responsive" style = "height: 250px; width:400px" src="http://www.themalaysiantimes.com.my/wp-content/uploads/2017/07/hijack_kidnapped.jpg" alt="">
            <a class="d-block" href = "/kidnapping" style="text-align: center;">
              <figcaption> <h2> Kidnapping </h2></figcaption>
            </a>
            <a class="d-inline" style="text-align: center;">
              <figcaption> <i>To take (someone) away illegally by force, typically to obtain a ransom. </i></figcaption>
            </a>
            <a class="d-inline" href = "/ohio" style="text-align: center;">
              <figcaption>Ohio</figcaption>
            </a>
            <a class="d-inline" href = "/hilal" style="text-align: center;">
              <figcaption>Hilal Hasan Ali Jaafar</figcaption>
            </a>
            <a class="d-inline" href = "https://en.wikipedia.org/wiki/Kidnapping" style="text-align: center;">
              <figcaption>Kindapping Wiki</figcaption>
            </a>
          </div>
          <div class="col-lg col-md-4 col-xs-6">
            <img class="img-fluid img-thumbnail img-responsive" style = "height: 250px; width:400px" src="http://images.mentalfloss.com/sites/default/files/styles/mf_image_3x2/public/hansen.jpg?itok=7RDitfGV&resize=1100x740" alt="">
            <a class="d-block" href = "/child" style="text-align: center;">
              <figcaption> <h2> Crimes Against Children </h2></figcaption>
            </a>
            <a class="d-inline" style="text-align: center;">
              <figcaption> <i>Crimes against children include physical and emotional abuse; neglect; and exploitation </i></figcaption>
            </a>
            <a class="d-inline" href = "/maryland" style="text-align: center;">
              <figcaption>Maryland</figcaption>
            </a>
            <a class="d-inline" href = "/luis" style="text-align: center;">
              <figcaption>Luis Tejada</figcaption>
            </a>
            <a class="d-inline" href = "https://en.wikipedia.org/wiki/Category:Crimes_against_children" style="text-align: center;">
              <figcaption>Crimes Against Children Wiki</figcaption>
            </a>
          </div>
        </div>

      </div>
      <!-- /.container -->
  </section>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
