<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Item - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/portfolio-item.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand"><font color="white">On The Run</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about">About
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/criminal">Criminals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/state">States</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/crime">Crimes</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container"> <font color="black">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">Ohio</h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid" style="width:750px; height:500px" src="https://upload.wikimedia.org/wikipedia/commons/5/58/Ohio_in_United_States.svg" alt="">

          <h2 class="my-4">State Map</h2>
          <div id="map" style="height:500px; width: 100%"></div>
          <script>
            function initMap() {
              var uluru = {lat: 40.417, lng: -82.907};
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 5,
                center: uluru
              });
              var marker = new google.maps.Marker({
                position: uluru,
                map: map
              });
            }
          </script>
          <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkRhH7iB4iZW9dDa-FY7HYb8vpjj19Vsc&callback=initMap">
          </script>
        </div>

        <div class="col-md-4">
          <h3 class="my-3">Capital</h3>
          <p>Columbus</p>
          <h3 class="my-3">Largest City</h3>
          <p>Columbus</p>
          <h3 class="my-3">Property Crime rate in Ohio, 2006-2016</h3>
          <p>In 2016, Ohio’s property crime rate was 2,577.5 incidents per 100,000 people. The rate for that year was higher than that of the United States.
          </p>
          <h3 class="my-3">Violent Crime rate in Ohio, 2006-2016</h3>
          <p>In 2016, Ohio’s violent crime rate was 300.3 incidents per 100,000 people. The rate for that year was lower than that of the United States.
          </p>
          <h3 class="my-3">News</h3>
          <ul>
            <li><a href="http://nbc4i.com/2018/02/13/police-arrest-armed-and-dangerous-suspect-in-deadly-south-columbus-shooting/">Police arrest "armed and dangerous" suspect in deadly south Columbus shooting</a></li>
            <li><a href="http://people.com/crime/ohio-police-officers-shot-killed-responding-911-call/">2 Ohio Police Officers Shot and Killed Responding to 911 Hang-Up Call</a></li>
            <li><a href="https://www.usnews.com/news/best-states/ohio/articles/2018-02-09/authorities-seek-help-in-probe-of-suspected-hate-crime">Authorities Seek Help in Probe of Suspected Hate Crime</a></li>
          </ul>
          <h3 class="my-3">Additional Links</h3>
          <ul>
            <li><a href="/hilal">Hilal Hasan Ali Jaafar</a></li>
            <li><a href="/kidnapping">Kidnapping</a></li>
          </ul>
        </div>
      </div>

    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
