header {
  padding: 120px 0 10px;
}

@media (min-width: 992px) {
  header {
    padding: 20px 0 10px;
  }
}

section {
  padding: 20px 0;
}

body {
  /* background: radial-gradient(red,black); */
  background: 	gray;
  /* margin-bottom: 60px; */
}