.row {
  margin-bottom: 15px;
  margin-top: 20px;
}

.bg-first {
  background-color: #212529 !important;
}

.bg-second {
  background-color: #2C3A47 !important;
}

.bg-third {
  background-color: #353b48 !important;
}

.bg-last {
  background-color: grey !important;
}