
body {
  /* background: radial-gradient(red,black); */
  height: 100%;
  color: #ffffff;
  font-style: bold;
  font-weight: 400;
  background-repeat: no-repeat;
  background: black;
  /* margin-bottom: 60px; */
}

.panel > .panel-body > .img-responsive{
    border: 0px solid;
    border-color: #a59696;
}
.panel {
    color: #cccccc;
    border-radius: 0;
    background-color: #2b2b2b;
    border-color: #cccccc;
    border: 2px solid;
}

.panel > .panel-body {
    padding: 0px;
    border-color: #cccccc;
}

.panel > .panel-heading{
    font-size:150%;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
}

.dropdownbutton > .button {
    color: red;
}


.pagination>li>a,
.pagination>li.active>a,
.pagination>li>span {
    background: #2b2b2b;
    color: white;
    border-color: black; 
}



.pagination>li.active>a:hover {
    border-color: red;
    background-color: black;
}

.pagination>li.active>a:focus,
.pagination>li.active>a {
    border-color: red;
    background-color: #2b2b2b;
}

.pagination>li.disabled>a {
    background-color: #2b2b2b;
    border-color: black;
}

.pagination>li>a:hover {
    background-color: black;
    color: white;
    border-color: black;
}
.popover{
    background-color: black;
    color: #bcbcbc;
}

.popover > .arrow{
    color: black;
}
