.overlay {
  display: inline-block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.container-thumbnail:hover .overlay {
  opacity: 1;
  position: absolute;
  background-color: #008CBA;
  display: inline-block;
  top: 0;
  bottom: 0;
  left: 7.5%;
  right: 0;
  height: 250px;
  width: 250px;
  transition: .5s ease;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.row-m-b{
  margin-bottom : 5px;
}

